/* base style */
/* ------------------------ */
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,400;1,700&display=swap");

:root {
  --box-shadow-transition: 0 1px 3px 0 rgba(142, 54, 54, 0.2),
    0 3px 5px 1px rgba(74, 17, 17, 0.1);
  --box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1), 0 1px 3px 0 rgba(0, 0, 0, 0.08);
  --black: #1a1a1a;
  --white: $ffffff;
  --ghostwhite: #f8f8ff;
  --grey: rgba(211, 211, 211, 0.3);
  --lightgrey: #fafafa;
  --red: #de8c8c;
  --lightred: rgba(205, 92, 92, 0.4);
  --palered: rgba(225, 129, 129, 0.2);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  -webkit-tap-highlight-color: transparent;
  outline: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

body {
  background: var(--lightgrey);
  font-size: 12px;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  color: var(--black);
  width: 100%;
  height: 100%;
}

.no-scroll {
  overflow: hidden;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* header/nav style */
/* ------------------------ */

header {
  background: indianred;
  color: var(--ghostwhite);
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  box-shadow: var(--box-shadow);
}

.brand {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  font-weight: 700;
  font-size: 2rem;
  text-transform: uppercase;
}

.brand span {
  font-size: 1.2rem;
  font-weight: 200;
  letter-spacing: -1px;
}

.help {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

/* introduction copy style */
/* ------------------------ */
section {
  max-width: 1068px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.introduction {
  padding: 0 2rem;
  z-index: -1;
}

.introduction h1 {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  margin: 3rem 0 1rem 0;
}

.introduction h2 {
  font-size: 2rem;
  font-weight: 200;
  text-align: center;
  margin: 1rem 0 1.5rem 0;
  padding: 0 0 1rem 0;
  border-bottom: 1px solid var(--grey);
}

.light {
  opacity: 0.3;
}

.red {
  color: indianred;
  font-weight: 700;
}

/* search input style */
/* ------------------------ */
.search {
  position: relative;
  margin: 3rem 0;
}

.search-icon {
  position: absolute;
  color: var(--lightred);
  right: 2rem;
  bottom: 50%;
  transform: translateY(50%);
}

.hide {
  display: none;
}

.search-null {
  width: 100%;
}

.search-message {
  width: 100%;
  padding: 3rem;
  text-align: center;
  font-size: 2rem;
}

.error-message {
  width: 100%;
  padding: 2rem;
  color: var(--black);
  font-size: 2.5rem;
  text-align: center;
  font-weight: 700;
}

input {
  padding: 1.2rem 1.8rem;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  color: indianred;
  outline: 0;
  border: 1px solid indianred;
  background: var(--lightgrey);
  font-size: 1.3rem;
  transition: all 400ms ease-in-out;
}
input::placeholder {
  font-weight: 200;
  color: var(--lightred);
  transition: all 600ms ease-in-out;
}
input:focus {
  border: 1px solid var(--red);
  caret-color: var(--lightred);
}
input:focus::placeholder {
  font-weight: 200;
  color: var(--grey);
}

/* video player style */
/* ------------------------ */
.video-modal {
  position: fixed;
  top: 0;
  overflow: hidden;
  background: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.video-player {
  width: 60%;
  height: auto;
  z-index: 2;
}

.close-icon {
  position: absolute;
  color: white;
  top: 0;
  right: 0;
  padding: 2rem;
}

.hide {
  display: none;
}

/* highlights reel style */
/* ------------------------ */
.highlights-reel {
  width: 100%;
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
  justify-items: center;
  align-items: center;
  padding: 1.5rem;
}

.card {
  display: inline;
  max-width: 240px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  color: var(--black);
  border-radius: 0.3rem;
  background: var(--ghostwhite);
  box-shadow: var(--box-shadow);
  transition: all 500ms ease-in-out;
}

.card:hover {
  filter: contrast(75%);
  box-shadow: var(--box-shadow-transition);
  transform: translateY(-0.6px) scale(1.05);
}

.thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 130px;
  border-radius: 0.3rem 0.3rem 0 0;
  overflow: hidden;
  box-shadow: var(--box-shadow);
  background-size: cover;
  background-position: center;
}

.play-icon {
  position: absolute;
  color: var(--ghostwhite);
  transition: opacity 1s ease-in-out;
  opacity: 0.6;
}

img {
  width: 100%;
  height: auto;
}

.teams {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 2fr 2fr;
  grid-gap: 0.25rem;
  align-items: center;
  padding: 1rem;
  text-align: left;
}

.team-icon {
  text-align: right;
  height: 20px;
}

.team-icon:nth-child(2) {
  color: yellowgreen;
}
.team-icon:last-child {
  color: orangered;
}

.info {
  background: var(--grey);
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0 0 0.3rem 0.3rem;
}

.info > p:first-child {
  color: indianred;
}
.info > p:last-child {
  color: silver;
}

/* footer style */
/* ------------------------ */
footer {
  width: 100%;
  background: var(--grey);
  text-align: center;
  margin: 2rem 0 0 0;
  padding: 3rem 0 4rem;
}

footer a {
  color: indianred;
  text-decoration: none;
  font-weight: 700;
}

/* media queries */
/* ------------------------ */
@media screen and (max-width: 1068px) {
  .highlights-reel {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .video-player {
    width: 80%;
  }
}

@media screen and (max-width: 828px) {
  header {
    padding: 1rem;
  }
  .brand {
    font-size: 1.2rem;
  }
  .brand span {
    font-size: 1rem;
  }
  .help {
    padding: 0;
  }
  .highlights-reel {
    grid-template-columns: 1fr 1fr;
  }
  .introduction h1 {
    font-size: 2.2rem;
    margin: 1.2rem 0 0.5rem 0;
  }
  .introduction h2 {
    font-size: 1.3rem;
    margin: 0.5rem 0 1rem 0;
  }
  .video-player {
    width: 100%;
  }
  .search {
    margin: 1rem 0;
  }
  input {
    padding: 0.8rem 1.4rem;
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 540px) {
  .highlights-reel {
    grid-template-columns: 1fr;
  }
  .introduction h1 {
    font-size: 2rem;
  }
  .introduction h2 {
    font-size: 1rem;
  }
  .search {
    margin: 0.6rem 0;
  }
}
